<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Structure from motion Testing site</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="pull-left visible-md visible-lg">
            <div id="logo-img"></div>
          </a>

          <div class="navbar-brand">
            <a href="index.html"><h1> Bruno Kessler Foundation</h1></a>

          </div>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href="index.html">
                <span class="glyphicon glyphicon-home"></span><br class="hidden-xs"> Home</a>
            </li>
            <li>
              <a href="{{url_for('showLogin')}}">
                <span class="glyphicon glyphicon-log-in"></span><br class="hidden-xs"> Login</a>
            </li>

          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>
  <!-- Carousel
     ================================================== -->
     <div id="myCarousel" class="carousel slide">
       <div class="carousel-inner">
         <div class="item active">
           <img src="static/images/jumbotron_horse_1200_test.png">
           <div class="container">
             <div class="carousel-caption">
               <h1>Example headline.</h1>
               <p class="lead">Example headlineExample headlineExample headlineExample headlineExample headline</p>
               <a class="btn btn-large btn-primary" href="#">Sign up today</a>
             </div>
           </div>
         </div>
         <div class="item">
           <img src="static/images/jumbotron_horse_1200_test.png" alt="">
           <div class="container">
             <div class="carousel-caption">
               <h1>Another example headline.</h1>
               <p class="lead">Example headlineExample headlineExample headlineExample headlineExample headlineExample headline</p>
               <a class="btn btn-large btn-primary" href="#">Learn more</a>
             </div>
           </div>
         </div>
         <div class="item">
           <img src="static/images/jumbotron_horse_1200_test.png" alt="">
           <div class="container">
             <div class="carousel-caption">
               <h1>One more for good measure.</h1>
               <p class="lead">Example headlineExample headlineExample headlineExample headlineExample headlineExample headline</p>
               <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
             </div>
           </div>
         </div>
       </div>
       <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
       <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div><!-- /.carousel -->

         <div id="home-tiles" class="row">
           <div class="col-md-4 col-sm-6 col-xs-12">
             <a href="#"><div id="shared_1-tile"><span>By:Tomas</span></div></a>
           </div>
           <div class="col-md-4 col-sm-6 col-xs-12">
             <a href="#"><div id="shared_2-tile"><span>By:Alex</span></div></a>
           </div>
           <div class="col-md-4 col-sm-6 col-xs-12">
               <a href="#"><div id="shared_3-tile"><span>By:Yonas</span></div></a>
           </div>
             </a>
           </div>
         </div><!-- End of #home-tiles -->
       </div><!-- End of #main-content -->

  <footer class="panel-footer">
    <div class="container">
      <div class="row">

        <section id="address" class="col-sm-4">
          <span>Address:</span><br>
          Trentino alto adige <br>
          Trento, 38123
          <hr class="visible-xs">
        </section>
        <section id="testimonials" class="col-sm-4">
          <p>"The Bruno Kessler Foundation is a nonprofit public interest research organization."</p>
          <p>"The Bruno Kessler Foundation is a nonprofit public interest research organization."</p>
        </section>
      </div>
      <div class="text-center">&copy; Copyright fbk 2016</div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
