<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/css/form-elements.css">
        <link rel="stylesheet" href="static/css/style.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//apis.google.com/js/platform.js?onload=start"> </script>
      
    <body background="static/images/pattern1.png">
	<!-- GOOGLE PLUS SIGN IN-->

   
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 social-login">
        	<h3>Please login with:</h3>
					<span class="g-signin"
					data-scope="openid email"
					data-clientid="756079670884-oknircamc9f54paqagr3u9kosrkb3te5.apps.googleusercontent.com"
					data-redirecturi="postmessage"
					data-accesstype="offline"
					data-cookiepolicy="single_host_origin"
					data-callback="signInCallback"
					data-approvalprompt="force">
				  </span>
					  
			<div id="result"></div>
			<script>
			function signInCallback(authResult) {
			  if (authResult['code']) {

				// Hide the sign-in button now that the user is authorized
				$('#g-signin','#social-login-buttons').attr('style', 'display: none');

				// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
				$.ajax({
				  type: 'POST',
				  url: '/gconnect?state={{STATE}}',
				  processData: false,
				  data: authResult['code'],
				  contentType: 'application/octet-stream; charset=utf-8',
				  success: function(result) {
					// Handle or verify the server response if necessary.
					if (result) {
					  $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
					 setTimeout(function() {
					  window.location.href = "/admin";
					 }, 4000);
					  

				  } else if (authResult['error']) {

				console.log('There was an error: ' + authResult['error']);
			  } else {
					$('#result').html('Failed to make a server-side call. Check your configuration and console.');
					 }

				  }
				  
			  }); } }
			</script>
        		<div class="social-login-buttons">
				  
				<a class="btn btn-link-2" href="#">
            		<i class="fa fa-facebook"></i> Facebook
            	</a>
            	            	
        	</div>
        </div>
    </div>
        <!-- Javascript -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>

