@import url(https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300);

*{

  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
div#header{
    width: 100%;
    height: 75px;
    background-color: #2c3e50;
    margin: 0 auto;
}
.logo {
  float: left;
  margin-top: 15px;
  margin-left: 10px;

}
.logo a {
  font-size: 2.0em;
  color: #fff;
}
.logo a span {
  font-weight: 300;
}
div #container {
    width:100%;
    height: 100px;
    margin-left: 250px;
    margin: 0 auto;
}
.sidebar {
    width:250px;
    height: 1000px;
    background-color: #171717;
    float: left;
}
.content {

  width: auto;
  margin-left: 250px;
  height: 1000px;
  background-color: #95a5a6;
  padding: 15px;
}
ul#nav {

}
ul#nav li {
    list-style: none;

}
ul#nav li a {
  color: #ccc;
  display: block;
  padding: 10px;
  font-size: 0.8em;
  border-bottom: 1px solid #171717;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

}

ul#nav li a:hover {
  background-color: #030303;
  color: #fff;
  padding-left: 30px;

}
ul#nav li a.selected {
  background-color: #e43535;
  color: #fff;
}
.content p {
  color: #424242;
  font-size: 0.7;
}
div#box {
  margin-top: 15px;
}

div#box .box-top {
    color:#fff;
    text-shadow: 0px 0px 1px #000;
    background-color: #2980b9;
    padding: 5px;
    padding-left: 15px;
    font-weight: 300;

}
div#box .box-panel {
  padding: 15px;
  background-color: #fff;
  color:#333;
}
div#box .webgl-panel {
  padding: 15px;
  height: 480;
  background-color: #fff;
  color:#333;
}
/* canvas for Three.js*/
canvas {
  width: 740px;
  height: 480px;
  margin-top: 15px;
  margin-right:200px;
  float: right;
}
